<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ parkName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="resetGame()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-grid class="bingo-grid">
      @for(row of bingoSquares; track $index) {
      <ion-row>
        @for(square of row; track $index) {
        <ion-col
          class="bingo-square"
          [class.selected]="square.selected"
          (click)="!bingoAchieved && toggleSquare(square)"
        >
          <div class="square-content">{{ square.name }}</div>
        </ion-col>
        }
      </ion-row>
      }
    </ion-grid>
  </ion-content>
</ion-content>

<ion-alert
  isOpen="{{ bingoAchieved }}"
  header="Congratulations!"
  message="You have completed the park!"
  [buttons]="alertButtons"
>
</ion-alert>
